__pycache__
texcomb/libs/
Logs/

test/
references/
.venv/
tmp/
tests/
TheHerta4.zip
MIMIBlender.zip

# Auto Update 
herta-blender_updater/
theherta4_updater/
mimiblender_plugin_updater/
mimiblender_updater/